.DS_Store
emptyExample/.DS_Store
emptyExample/bin/emptyExampleDebug.app/*
emptyExample/emptyExample.xcodeproj/project.xcworkspace/xcuserdata/saitoushunsuke.xcuserdatad/UserInterfaceState.xcuserstate
generativeCircle/.DS_Store
content.txt
animation/animation.xcodeproj/project.xcworkspace/xcuserdata/